@import 'Variables';

.Bg-Base {
    background-color: $colorbg-primario;

}

.Bg-gray {
    background-color: $GrayRdBg;

}

.Bg_tema {
    background-color: $colorbg-primario;

}

.Bg_tema2 {
    background-color: $colorBg-secundario;

}

.Bg_temaB {
    background-color: $colorbg-primarioB;

}

.Bg_tema2B {
    background-color: $colorBg-secundarioB;

}

.Bg_temaC {
    background-color: $colorbg-primarioC;

}

.Bg_temaD {
    background-color: $colorBg-secundarioD;

}

.Bg_tema2C {
    background-color: $colorBg-secundarioC;

}

.Bg_temaD {
    background-color: $colorbg-primarioD;

}

.Bg_tema2D {
    background-color: $colorBg-secundarioD;

}

.Bg_temaWeb3 {
    background-color:  rgb(60, 7, 83);

}

.Bg-dark {
    background-color: rgba(0, 0, 0, 0.668);
}

.Bg-Red {
    background-color: lightcoral;
}

.Bg-Blue {
    background-color: lightblue;
}

.Bg-Green {
    background-color: lightgreen;
}

.Bg-Yellow {
    background-color: lightyellow;
}