@import 'Variables';

//************************************** Tarejetas **************************************//
//*Tarjeta 1*//
.tarjeta {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;

    .front {
        background-color: rgb(67, 0, 67);
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;
        transform: perspective(6010px) rotateY(0deg);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px;
            line-height: 45px;
            color: aliceblue;
            background: rgba(0, 0, 0, 0.4);
            text-align: center;
        }

        &:hover {
            transform: perspective(600px) rotateY(180deg);
            transition: .45s;
        }
    }

    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: perspective(600px) rotateY(180deg);
        background: rgb(53, 53, 53);
        color: antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 20px;
        box-shadow: 0 5px 10px black;
        overflow: scroll;

        .link {
            border-top: solid 1px white;
            height: 50px;
            line-height: 50px;

            a {
                color: white;
            }
        }

        h3 {
            font-size: 30px;
            margin-top: 20px;
            letter-spacing: 2px;
        }

        p {
            letter-spacing: 2px;
        }

        &:hover {
            transform: perspective(600px) rotateY(0deg);
            transition: .45s;
        }

    }

    &:hover .front {
        transform: perspective(600px) rotateY(180deg);
        transition: .45s;
    }

    &:hover .back {
        transform: perspective(600px) rotateY(360deg);
        transition: .45s;
    }
}

.back::-webkit-scrollbar {
    width: 5px;
}

.back::-webkit-scrollbar-thumb {
    background-color: #525252;
}

//*Tarjeta 2*//
.card {
    position: relative;
    width: 300px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    border: none;

    .contenido-card {
        position: relative;
        z-index: 90;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: center;
        padding: 20px;
        border-radius: 10px;

        .img-perfil {
            height: 50%;
            margin-bottom: 20px;
            justify-content: center;
            align-items: center;

            img {
                position: relative;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            }
        }

        span {
            position: absolute;
            width: 350px;
            height: 200px;
            background: linear-gradient(to right, #5e2066, #b332c7);
            transform: rotate(-35deg);
            top: -90px;
            left: -150px;
            border: none;
        }

        h4 {
            font-size: 18px;
            color: black;
            margin-bottom: 5px;
        }

        h6 {
            font-size: 13px;
            color: #5e2066;

        }

        p {
            font-size: 13px;
            color: black;
            margin-top: 10px;
        }

        p {
            font-size: 13px;
            color: black;
            margin-top: 10px;
        }

    }

    .links {
        position: absolute;
        z-index: 100;
        width: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        padding: 20px;
        align-items: center;
        right: calc(100% + 20px);
        top: 15px;
        transition: .5s;
        border-radius: 10px;
        opacity: 0;
    }

    &:hover .links {
        right: calc(100% - 50px);
        opacity: 1;
        border-radius: 0 10px 10px 0;
    }
}

//*Tarjeta 3*//
@mixin gradiente {
    background: linear-gradient(135deg, #2980b9, #2c3e50);
}

.wrapper {
    width: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 350px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.carta {
    width: 80px;
    border-radius: 75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(.20, -0.83, 0, 0.99);
    box-shadow: 0px, 10px, 30px, -5px rgba(0, 0, 0, 0.83);
    background: rgb(169, 92, 213);

    img {
        width: auto;
        height: 100%;
        object-fit: cover;

    }

    .row {
        margin-top: 0;
        color: white;
        display: flex;
        flex-wrap: nowrap;
    }

    .icon {
        background: #223;
        color: white;
        border-radius: 50%;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }

    .descripcion {
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        height: 80px;
        width: 520px;
        opacity: 0;
        transform: translateY(30px);
        transition: all .3s ease;

        p {
            color: #b0b0b0;
            padding-top: 1px;

        }
    }
}


.descripcion h4 {
    text-transform: uppercase;
}

.slider {
    input {
        display: none;
    }


    input:checked+label {
        width: 600px;
    }

    input:checked+label .descripcion {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }

}

.card[for="c1"],
.card[for="c2"],
.card[for="c3"],
.card[for="c4"] {
    @include gradiente;
}