body {
    background-image: url(IMG_minigame/bg_minigame.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    font-family: Arial, sans-serif;
}

.contador {
    font-size: 18px;
    color: #333;
    background-color: #ffeb3b;
    border: 2px solid #fdd835;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
    width: auto;
}

.container {
    text-align: center; 
    height: 100vh;
    width: 100vh;
}

.Dot_Rojo {
    margin: 10px 0px 0px 10px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    border: 3px solid #040404;
}

.Dot_Verde {
    margin: 10px 0px 0px 10px;
    width: 50px;
    height: 50px;
    background-color: #0820f6;
    border-radius: 50%;
    border: 3px solid #040404;
}

.Dot_Amarillo {
    margin: 10px 0px 0px 10px;
    width: 20px;
    height: 20px;
    background-color: #ffee00;
    border-radius: 50%;
    border: 3px solid #040404;
  }

.retro{
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 100%;
    margin-right: 200px;
}

.retro div:first-child{
    margin-left: 150px;
    margin-top: 80px;
}

.Pokedex_UnFolded {
    display: none; 
    border: 10px solid rgb(200, 8, 36);
    width: 55vh;
    height: 75vh;
    background-color: rgb(220, 10, 45);
    border-radius: 10px;
    margin-top: 20px; 
    margin-left: 150px;
    flex-direction: column;
    align-items: center; 
}

.game-container {
    background-color: gainsboro;
    height: 40vh;
    width: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-top: 25px;
    border-radius: 10px;
    border: solid 3px black;
    box-sizing: border-box;
}



.opciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 25px;
    margin-right: -150px;
}

.opciones button:first-child {
    grid-column: 1; 
    grid-row: 1 / 3;
    justify-self: center; 
    margin-top: 50px;
    margin-left: 15px;
    column-gap: 0px;
}


.Pokedex_Screen2 {
    display: flex;
    justify-content: center;
    width: 65vh;
    height: 65vh;
    margin-left: 115px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    object-fit: contain;
    padding: 5px;
    background-image: url("/IMG/Pokeball_minimalista.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.Pokedex_Screen2:hover {
    transform: scale(1.1); 
}


.pokemon-sombra {
    filter: grayscale(100%) brightness(0);
    width: 250px;
    height: 250px;
    animation: rotar 2.5s linear;
}

@keyframes rotar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1080deg); 
    }
  }

.pokemon-color {
    width: 250px;
    height: 250px;
    transition: transform 0.5s ease-in-out;
}

.pokemon-color:hover {
    transform: scale(1.1);
}

.boton-opcion {
    margin: 5px;
    padding: 10px;
    width: 100px;
    height: 55px;
    background-color: yellow;
    border: solid 1px black;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}

.boton-opcion:hover {
    background-color: rgb(226, 226, 226);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    border: solid 2px black;
}

@keyframes move-forward {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}

.move-forward {
    animation: move-forward 3s forwards;
}

.alerta {
    padding: 10px;
    margin-top: 33px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.alerta-correcto {
    background-color: lightgreen;
    color: green;
    border: 2px solid rgb(4, 88, 0);
}

.alerta-incorrecto {
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid rgb(187, 56, 56);
}

.game-over {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
}

.game-over-content {
    text-align: center;
}